body {
    background-color: lightsteelblue;
}

img {
    max-width: 100%;
    display: block;
}

a.navbar-brand {

    margin-left: 20px;
    padding: 10px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}